body{
    font-family: 'lato';
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.row{
    margin-bottom: 10px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="text"], input[type="date"], input[type="number"]{
    border: 1px solid gray;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 15%, 0.59);

}
input:active {
    border: 3px solid goldenrod;
}
input[type="date"]{
    width: 168.8px;
    height: 28px;
}
input[type="checkbox"]{
    /* appearance: none; */
    width: 90px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); */
    outline: none;
    position: relative;
    margin-right: 156px;
}

.agreeCheckbox{
    display: flex;
    align-items: center;
    text-align: left;
}
/* input[type="checkbox"]:checked::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.gender{
    display: flex;
    align-items: center;
}
.tekst1{
    display: contents;
}
button{
    background-color: red;
    margin-top: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 25px;
    align-self: flex-start;
}
button:hover{
background-color: orange;
}
.country{
    margin-bottom: 12px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100 px;
}
.container{
    margin: 0 auto;
    margin-top: 30px;
}
.row2{
    border: 2px solid gray;
    
}
p{
    margin-left: 10px;
    margin-right: 10px;
}
.prefix{
    width: 50px;
}
.telephone{
    width: 117px;
}